div.row {
  margin-right: 0px; }

div.container-fluid {
  padding-right: 0px; }

.container-fluid {
  padding: 0 !important;
  margin: 0 !important; }

.container {
  width: 450px !important;
  height: auto;
  background-color: #EFEFEF;
  margin: 5% auto;
  padding-bottom: 1rem; }

#contacto {
  width: 100%;
  background-color: #09A680;
  padding: 20px 20px 0px 0px; }

#caja {
  background-color: #09A680;
  border: 2px solid black;
  border-radius: 15%;
  text-align: center;
  padding: 15px; }

header {
  width: 100%;
  height: auto;
  background: #09A680;
  text-align: center; }
  header a {
    font-size: 20px;
    color: white;
    font-family: Arial;
    text-decoration: none;
    font-weight: bold; }
  header img {
    width: 10rem;
    border-radius: 40%;
    padding: 25px; }

#carrusel img {
  width: 100%;
  height: auto;
  max-height: 500px; }

#marcas {
  background-color: #09a680; }
  #marcas img {
    width: 100%;
    display: block;
    margin: auto;
    max-width: 300px;
    padding: 10px; }

#tit-section-a {
  padding-top: 30px;
  padding-left: 5%; }
  #tit-section-a a {
    font-size: 40px;
    text-decoration: underline;
    color: black;
    font-family: Arial;
    font-weight: bold; }

#cotizaciones {
  background-color: #fff;
  margin: 20px; }
  #cotizaciones .cajas {
    margin: 10px 75px 10px 75px;
    border: 2px solid #DDDDDD;
    background-color: #EAEAEA;
    border-radius: 10px; }
    #cotizaciones .cajas img {
      margin: 20px;
      width: 150px; }

.desc {
  padding: 0px 0px 0px 40px; }
  .desc a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    padding-bottom: 30px; }
  .desc li {
    font-size: 20px;
    font-family: Arial;
    padding: 5px;
    list-style: none; }

@media (max-width: 991px) {
  #cotizaciones .cajas {
    margin: 10px 0px 10px 0px;
    border: 2px solid #DDDDDD;
    background-color: #EAEAEA;
    border-radius: 10px;
    text-align: center; } }

#tit-section-b {
  padding: 30px 0px;
  text-align: center; }
  #tit-section-b a {
    font-size: 40px;
    text-decoration: underline;
    color: black;
    font-family: Arial;
    font-weight: bold;
    padding-left: 5%; }

.campaB {
  position: relative;
  top: 30px;
  border: 2px solid #000000;
  padding: 5px;
  list-style-type: upper-roman;
  text-decoration: none;
  color: #000000;
  border-radius: 5px; }
  .campaB:hover {
    background-color: #cacaca; }

#separacion1 {
  padding: 30px 0px 30px 30px; }
  #separacion1 h4 {
    text-decoration: underline; }
  #separacion1 img {
    width: 60%;
    height: 50%; }

#separacion col {
  text-align: end; }

.form__top {
  width: 100%;
  text-align: center;
  padding: 2rem 0 1rem;
  border-top: solid 0.4rem #09A680;
  margin-bottom: 1rem; }
  .form__top h2 {
    font-weight: bold;
    font-family: Arial;
    color: #CAC8C8;
    font-size: 18px; }

h2 span {
  color: #6DCCAA; }

.form__reg {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .form__reg a {
    font-size: 20px;
    color: #575757;
    font-family: Arial;
    text-decoration: none;
    padding: 15px;
    font-weight: bold; }

.btn__form {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem; }

.input, .button, .btn__reset {
  background-color: #EFEFEF;
  padding: .5rem;
  margin: .5rem 0;
  border: none;
  border-bottom: solid #C8C8C8 2px;
  transition: all .5s; }

.input:focus {
  border-bottom: solid #85D4B7 .2rem; }

.button, .btn__reset {
  width: 40%;
  border-bottom: none;
  background-color: #6DCCAA;
  color: white; }

.btn__reset {
  background-color: #85D4B7; }

.btn__submit:hover {
  background-color: #26b885; }

.btn__reset:hover {
  background-color: #26b885; }

.datos1 {
  margin: 0px auto 0px 0px;
  border: 2px solid #d3d1d1;
  height: 30px;
  overflow: hidden;
  width: 100%;
  position: relative; }
  .datos1 input {
    border: 2px solid #d3d1d1;
    height: 30px;
    overflow: hidden;
    width: 100%;
    position: relative; }

select {
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 100%; }
  select:focus {
    outline: none; }

.datos::after {
  content: "\025be";
  display: table-cell;
  padding-top: 7px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  right: 0px;
  pointer-events: none; }

.designF {
  border: solid 2px #d9d9d9;
  background-color: #EFEFEF;
  width: 30%; }

footer {
  padding: 20px;
  background-color: #000000;
  text-align: center; }
  footer #tit-section-c {
    padding: 20px; }
    footer #tit-section-c a {
      font-size: 40px;
      text-decoration: none;
      color: #fff;
      font-family: Arial;
      font-weight: bold; }
    footer #tit-section-c p {
      text-decoration: none;
      color: #fff;
      font-family: Arial;
      font-weight: bold; }
  footer #sub-menu {
    text-align: center;
    padding: 10px; }
    footer #sub-menu a {
      text-decoration: none;
      font-family: Arial;
      color: #ffffff;
      text-align: center;
      padding: 10px; }
